[keys]
LOCALHOST =
DOCTEST = t9JDYM8X48ZmCF1GRUJT63rSrzw2OuG5
PRODUCTION = TlwKyrlibMznK7ulzw2vCyjxFFOd62tu

[sources]
questions = /opt/educalegal/docassemble/docassemble/brcomeducalegal/data/questions
templates = /opt/educalegal/docassemble/docassemble/brcomeducalegal/data/templates
modules = /opt/educalegal/docassemble/docassemble/brcomeducalegal/data
static = /opt/educalegal/docassemble/docassemble/brcomeducalegal/data/static