{% extends 'base.html' %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}

{% block body_block %}
  <div class="container">
  <!-- -------------------------------------------------- Modal -------------------------------------------------- -->
    {% if user.tenant.school_set.count == 0 %}
        <div class="modal fade" id="school_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Bem-vindo à plataforma Educa Legal!</h5>
                    </div>
                    <div class="modal-body">
                        <p>Para iniciar o uso, é necessário primeiro cadastrar uma <b>Escola</b>.</p>
                        <p>Os dados da <b>Escola</b> serão usados na criação dos documentos.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'school:school-list' %}" class="btn btn-primary">Criar Escola</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

  {% if filter %}
      <form action="" method="get" class="form form-inline" style="float: right">
        {% bootstrap_form filter.form layout="inline" %}
        {% bootstrap_button "Buscar" %}
      </form>
  {% endif %}
    <h2>Modelos</h2>
      {% if interviews %}
          {% render_table table %}
      {% else %}
      <div class="alert alert-info" role="alert">
        Você não tem modelos disponíveis.
      </div>
    {% endif %}
  </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(window).on('load',function(){
            $('#school_modal').modal({backdrop: 'static', keyboard: false});
            $('#school_modal').modal('show');
        });
    </script>
{% endblock %}