{% extends 'account/email/email_boilerplate.html' %}
{% block email_body %}
{% autoescape off %}
    <tr>
        <td align="left" valign="top">
            <p>Você está recebendo esse e-mail você requisitou uma nova senha para sua conta de usuário em {{ current_site.domain }}.</p>
            <p>Clique no link abaixo para redefinir sua senha.</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">
            {{ password_reset_url }}
        </td>
    </tr>

    <tr>
        <td align="left" valign="top">
            <p>Obrigado por usar {{ current_site.name }}!</p>
            <p>{{ current_site.domain }}</p>
        </td>
    </tr>

{% endautoescape %}
{% endblock email_body %}