{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block body_block %}
    <h2>Geração em Lote</h2>
    <div class="card">
        <div class="card-header">
            <h4>Status: <span id="bulk_status_text">{{ bulk_document_generation.status }}</span></h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="font-weight-bold">Data de Criação: </span>{{ bulk_document_generation.created_date|date:"d/m/Y H:i" }}
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Modelo: </span>{{ bulk_document_generation.interview.name }}
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Coleção: </span>{{ bulk_document_generation.mongo_db_collection_name }}
                </li>
                {% if bulk_document_generation.status == "não executada" %}
                    <li class="list-group-item">
                        <button class="btn btn-danger btn-block">Executar</button>
                    </li>
                    <li style="visibility: hidden">
                    <div id="progressbar" class="list-group-item start-hidden">
                        <div class="progress-label start-hidden">Iniciando...</div>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if not task_table.data|length_is:"0" %}
        {% render_table task_table %}
    {% else %}
        {% render_table document_table %}
    {% endif %}
    <!-- -------------------------------------------------- Modal -------------------------------------------------- -->
    {% if user.tenant.school_set.count == 0 %}
        {% include "snippets/welcome_modal.html" %}
    {% endif %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    const origin = window.location.origin
    const bulk_status_text = $("#bulk_status_text");
    const progress_bar = $("#progressbar");
    const progress_label = $(".progress-label");

    function sleep(milliseconds) {
        const date = Date.now();
        let currentDate = null;
        do {
            currentDate = Date.now();
        } while (currentDate - date < milliseconds);
    }

    function update_progress_bar(total_task_size) {
        $.get(origin + "/document/bulk_document_generation/generate/progress/" + {{ bulk_document_generation.pk }})
            .done(function (data, status) {
                console.log(data);
                console.log(status);
                let processed_task_size = data["processed_task_size"];

                progress_bar.progressbar({
                    max: total_task_size,
                    value: processed_task_size,
                    change: function () {
                        progress_label.text(processed_task_size + " de " + total_task_size + " tarefas");
                    },
                    complete: function () {
                        progress_label.text("Fim!");
                        bulk_status_text.css("color", "black")
                        bulk_status_text.text(data["bulk_status"]);
                        sleep(1000);
                        location.reload();
                    }
                });
                if (processed_task_size < total_task_size) {
                    sleep(3000);
                    update_progress_bar(total_task_size);
                } else {

                }
            })
            .fail(function (data, status) {
                console.log(data);
                console.log(status);
            })
    }

    // Dispara a criação de documentos em lote/
    const executar_button = $(".btn.btn-danger.btn-block").click(function () {
        executar_button.hide();
        $(".start-hidden").css("visibility", "visible");
        bulk_status_text.text("em andamento...");
        bulk_status_text.css("color", "red")
        // Cria uma barra com valor indeterminado
        progress_bar.progressbar({value: 0});

        // Representa o número de tarefas de criação de documentos + assinatura de documentos
        let total_task_size = 0;

        $.get(origin + "/document/bulk_document_generation/generate/" + {{ bulk_document_generation.pk }})
            .done(function (data, status) {
                if (data["success"] === true) {
                    total_task_size = data["total_task_size"];
                    update_progress_bar(total_task_size);
                } else {
                    $("#app_body").append(
                    "<div class=\"alert alert-danger alert-dismissable fade show\" role=\"alert\">\n" +
                       data["message"] + "\n" +
                    "  <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                    "    <span aria-hidden=\"true\">&times;</span>\n" +
                    "  </button>\n" +
                    "</div>")
                }
            })
            .fail(function (data, status) {
                console.log(data);
                console.log(status);
            });
    });
</script>
{% endblock %}