{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block body_block %}
    <h2>Geração em Lote</h2>
    <div class="card">
        <div class="card-header">
            <h4>Status: <span id="bulk_status_text">{{ bulk_document_generation.status }}</span></h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="font-weight-bold">Data de Criação: </span>{{ bulk_document_generation.created_date|date:"d/m/Y H:i" }}
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Modelo: </span>{{ bulk_document_generation.interview.name }}
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Coleção: </span>{{ bulk_document_generation.mongo_db_collection_name }}
                </li>
                {% if bulk_document_generation.status == "não executada" %}
                    <li class="list-group-item">
                        <button class="btn btn-danger btn-block">Executar</button>
                    </li>
                    <li style="visibility: hidden">
                    <div id="progressbar" class="list-group-item start-hidden">
                        <div class="progress-label start-hidden">Iniciando...</div>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if not task_table.data|length_is:"0" %}
        {% render_table task_table %}
    {% else %}
        {% render_table document_table %}
    {% endif %}
    <!-- -------------------------------------------------- Modal -------------------------------------------------- -->
    {% if user.tenant.school_set.count == 0 %}
        <div class="modal fade" id="tutorial_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Bem-vindo à plataforma Educa Legal!</h4>
                    </div>
                    <div class="modal-body">
                        <p>Para iniciar o uso, é necessário primeiro cadastrar uma <b>Escola</b>.</p>
                        <p>Os dados da <b>Escola</b> serão usados na criação dos contratos e documentos.</p>
                        <p>O menu <b>Documentos</b> é usado para listar os contratos e documentos já criados.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'school:school-list' %}" class="btn btn-primary btn-block">Criar Escola</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- -------------------------------------------------- Modal -------------------------------------------------- -->
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        const origin = window.location.origin
        const bulk_status_text = $("#bulk_status_text");
        const progress_bar = $("#progressbar");
        const progress_label = $(".progress-label");

        $(window).on('load', function () {
            let tutorial_modal = $('#tutorial_modal').modal({backdrop: 'static', keyboard: false});
            tutorial_modal.modal('show');

        });

        function sleep(milliseconds) {
            const date = Date.now();
            let currentDate = null;
            do {
                currentDate = Date.now();
            } while (currentDate - date < milliseconds);
        }

        function update_progress_bar(total_task_size) {
            $.get(origin + "/document/bulk_document_generation/generate/progress/" + {{ bulk_document_generation.pk }})
                .done(function (data, status) {
                    console.log(data);
                    console.log(status);
                    let processed_task_size = data["processed_task_size"];

                    progress_bar.progressbar({
                        max: total_task_size,
                        value: processed_task_size,
                        change: function () {
                            progress_label.text(processed_task_size + " de " + total_task_size + " tarefas");
                        },
                        complete: function () {
                            progress_label.text("Fim!");
                            bulk_status_text.css("color", "black")
                            bulk_status_text.text(data["bulk_status"]);
                            sleep(3000);
                            location.reload();
                        }
                    });
                    if (processed_task_size < total_task_size) {
                        sleep(3000);
                        update_progress_bar(total_task_size);
                    } else {

                    }
                })
                .fail(function (data, status) {
                    console.log(data);
                    console.log(status);
                })
        }

        // Dispara a criação de documentos em lote/
        const executar_button = $(".btn.btn-danger.btn-block").click(function () {
            executar_button.hide();
            $(".start-hidden").css("visibility", "visible");
            bulk_status_text.text("em andamento...");
            bulk_status_text.css("color", "red")
            // Cria uma barra com valor indeterminado
            progress_bar.progressbar({value: 0});

            // Representa o número de tarefas de criação de documentos + assinatura de documentos
            let total_task_size = 0;

            $.get(origin + "/document/bulk_document_generation/generate/" + {{ bulk_document_generation.pk }})
                .done(function (data, status) {
                    total_task_size = data["total_task_size"];
                    update_progress_bar(total_task_size);
                })
                .fail(function (data, status) {
                    console.log(data);
                    console.log(status);
                });
        });
    </script>
{% endblock %}