{% extends 'base.html' %}
{% block body_block %}
    <h2>Geração em Lote</h2>
    <br>
    {% if csv_valid %}
        <p>O arquivo foi validado. Clique para conferir os documentos que serão gerados.</p>
        <a href="{% url 'document:bulk-document-generation-detail' bulk_generation_id %}" class="btn btn-success" >Gerar Lote</a>
    {% else %}
        <label class="control-label">Baixe aqui o </label>
        <a target="_blank" href="https://atendimento.atlassian.net/wiki/spaces/EL/pages/40468495/Entrevista+em+lote?preview=%2F40468495%2F40501286%2Fcontrato-prestacao-servicos-educacionais.csv">layout
            do csv de importação (versão 1)</a> do documento que você deseja gerar.
        <form enctype="multipart/form-data" action="{% url 'document:bulk-document-generation-validate-generate' interview_id %}"
              method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="custom-file">
            {{ form.source_file.errors }}
            <label class="custom-file-label" for="customFile">{{ form.source_file.label }}</label>
            {{ form.source_file }}
        </div>
        <br><br>
        <button type="submit" class="btn btn-success">Validar</button>
    {% endif %}
        </form>
    <br>
    <br>
    <!-- -------------------------------------------------- Messages -------------------------------------------------- -->
    {% include "snippets/messages.html" %}
    <!-- -------------------------------------------------- Modal -------------------------------------------------- -->
    {% if validation_error %}
        <div class="modal fade" id="validation_error_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Erros de Validação</h4>
                    </div>
                    <div class="modal-body">
                        <p>Houve erros de validação dos registros.</p>
                        <p>Verifique as mensagens.</p>
                        <p>Corrija os erros no <b>arquivo</b> e carregue-o novamente.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" aria-hidden="true">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
<!-- -------------------------------------------------- Modal -------------------------------------------------- -->

{% endblock %}
{% block scripts %}
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
        <script type="text/javascript">
        $(window).on('load',function(){
            let validation_error_modal = $('#validation_error_modal').modal({backdrop: 'static', keyboard: false});
            validation_error_modal.modal('show');
        });

        $(function () {
            $('#validation_error_modal').modal('toggle');
        });
    </script>
{% endblock %}
