{% extends 'base.html' %}
{% block body_block %}
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h4>{{ document.interview }}</h4>
        <h5>{{ document.name }}</h5>
      </div>
      <div class="card-body">
          <ul class="list-group list-group-flush">
          <li class="list-group-item">

              <span class="font-weight-bold">Escola: </span>{{ document.school }}</li>
          <li class="list-group-item">
              {# documentacao do django para formatacao de data no template #}
              {# https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#date #}
              <span class="font-weight-bold">Data de Criação: </span>{{ document.created_date|date:"d/m/Y H:i" }}</li>
          <li class="list-group-item">
              <span class="font-weight-bold">Data de Alteração: </span>{{ document.altered_date|date:"d/m/Y H:i" }}</li>
          <li class="list-group-item">
              <span class="font-weight-bold">Status: </span>{{ document.status }}</li>
          <li class="list-group-item">
              <span class="font-weight-bold">Envelope ID: </span>{{ document.envelope_id }}</li>
          <li class="list-group-item">
              <span class="font-weight-bold">Provedor: </span>{{ document.signing_provider }}</li>
          <li class="list-group-item">
              <span class="font-weight-bold">Link: </span><a href="{{ document.ged_link }}" target="_blank">{{ document.ged_link }}</a></li>
          <li class="list-group-item">
              <span class="font-weight-bold">Descrição: </span>{{ document.description }}</li>
          <li class="list-group-item">
            {% if document.logs.all %}
                <br />
                <h5>Andamentos da Assinatura Eletrônica</h5>
                <div class="card-footer">
                  <ul>
                    {% for log in document.logs.all %}
                      <li>{{ log.created_date }} <br> {{ log.esignature_log|safe }}</li>
                    {% endfor %}
                  </ul>
                </div>
            {% endif %}
            {% if document.documents.all %}
                <br />
                <h5>Documentos Relacionados</h5>
                <div class="card-footer">
                  <ul>
                    {% for related_document in document.documents.all  %}
                      <li><a href="{% url 'document:document-detail' pk=related_document.pk %}" target="_blank">{{ related_document.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}