{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block body_block %}
    <h2>Documentos</h2>
    {% if documents %}
        <table id="data_table" class="dataTable cell-border hover order-column row-border stripe">
            <thead>
            <tr>
                <th data-data="name">Documento</th>
                <th data-data="interview_name">Modelo</th>
                <th data-data="school_name">Escola</th>
                <th data-data="created_date">Criação</th>
                <th data-data="altered_date">Alteração</th>
                <th data-data="status">Status</th>
                <th data-data="submit_to_esignature">A Elet</th>
                <th data-data="send_email">E-mail</th>
            </tr>
            </thead>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            Você não criou nenhum documento.
        </div>
    {% endif %}
    <!-- ------------------------------------------ Welcome Modal -------------------------------------------------- -->
    {% if user.tenant.school_set.count == 0 %}
        {% include "snippets/welcome_modal.html" %}
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            const table_data_url = "/v1/tenants/" + {{ user.tenant.pk  }} +"/documents/?format=datatables"
            $("#data_table").DataTable({
                info: true,
                dom: 'Blfrtip',
                buttons: [
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                ajax: {
                    url: table_data_url,
                    method: "GET",
                },
                columns: [
                    {
                        data: null, render: function (data, type, row) {
                            return '<a href="/document/document/' + data.id + '"' + ' target="_blank">' + data.name + '</a>'
                        }
                    },
                    {data: "interview_name"},
                    {data: "school_name", defaultContent: "---"},
                    {data: "created_date"},
                    {data: "altered_date"},
                    {data: "status"},
                    {data: "submit_to_esignature", render: function (data, type, row) {
                            if (data === true) {
                                return "sim"
                            } else {
                                return "não"
                            }
                        },
                    },
                    {data: "send_email", render: function (data, type, row) {
                            if (data === true) {
                                return "sim"
                            } else {
                                return "não"
                            }
                        },
                    }
                ],

                columnDefs: [
                    {
                        type: 'datetime-moment',
                        targets: [3, 4], "width": "14%", render: function (data) {
                            return '<span'+moment(data).format('YYYYMMDDHHmm')+'>'+moment(data).format('DD/MM/YYYY HH:mm')+'</span>'
                        },
                    },
                ],
                language: {% include "locale/data_tables_pt_br.json" %}
            });
        });
    </script>
{% endblock %}