{% extends 'base.html' %}
{% block body_block %}
  <div class="container">
    <div class="card">
        <div class="card-header">
            {{ address.name }}
        </div>
        <div class="card-body">
            <p class="card-text">Rua: {{ address.street }}</p>
        </div>
    </div>
    <div class="btn-group">
        <form action="{% url 'person:address-update' pk=object.pk %}">
            <button type="submit" class="btn btn-success" >Editar</button>
        </form>
        <form action="{% url 'person:address-delete' pk=object.pk %}">
            <button type="submit" class="btn btn-danger">Apagar</button>
        </form>
        <form action="{% url 'person:company-list' %}">
            <button type="submit" class="btn btn-primary">Voltar para a lista</button>
        </form>
    </div>

  </div>

{% endblock %}