{% extends 'authentication/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="card">
        <div class="card-header">
            {{ company.name }}
        </div>
        <div class="card-body">
            <p class="card-text">Nome Completo / Razão Social: {{ company.legal_name }}</p>
            <p class="card-text">CPF / CNPJ: {{ company.cpf_cnpj }}</p>
            {% if company.logo %}
            <img src="{{ company.logo.url }}">
            {% endif %}
        </div>
    </div>
    <div class="btn-group">
        <form action="{% url 'person:company-update' pk=company.pk %}">
            <button type="submit" class="btn btn-info" >Editar</button>
        </form>
        <form action="{% url 'person:address-create' company=company.pk%}">
            <button type="submit" class="btn btn-info" >Endereço</button>
        </form>
        <form action="{% url 'person:company-list' %}">
            <button type="submit" class="btn btn-info">Voltar para a lista</button>
        </form>
        <form action="{% url 'person:company-delete' pk=object.pk %}">
            <button type="submit" class="btn btn-danger">Apagar</button>
        </form>
    </div>

  </div>

{% endblock %}