{% extends 'base.html' %}
{% block body_block %}
    <h2>Geração de documentos em lote</h2>
    <br>
    {% if csv_valid %}
        <p>O arquivo foi validado. Clique no botão para gerar os documentos.</p>
            <button type="submit" class="btn btn-success">Gerar Lote</button>
    {% else %}
        <label class="control-label">Baixe aqui o </label>
    <a href="https://atendimento.atlassian.net/wiki/spaces/EL/pages/40468495/Entrevista+em+lote?preview=%2F40468495%2F40501286%2Fcontrato-prestacao-servicos-educacionais.csv">layout
        do csv de importação (versão 1)</a> do contrato de prestação de serviços educacionais.
    <form enctype="multipart/form-data" action="{% url 'bulk_interview:bulk_interview_validate' interview_id %}" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="custom-file">
            {{ form.source_file.errors }}
            <label class="custom-file-label" for="customFile">{{ form.source_file.label }}</label>
            {{ form.source_file }}
        </div>
        <br><br>
            <button type="submit" class="btn btn-success">Validar</button>
        {% endif %}
    </form>
    <br>
    <br>
<!-- -------------------------------------------------- Messages -------------------------------------------------- -->
    {% if messages %}
        {% for message in messages %}
            {% if message.level <= 20 %}
                <div class="alert alert-info alert-dismissable fade show" role="alert">
            {% elif  message.level == 25 %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
            {% elif  message.level == 30 %}
                <div class="alert alert-warning alert-dismissable fade show" role="alert">
            {% elif message.level == 40 %}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {% endif %}
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endfor %}
    <!-- -------------------------------------------------- Messages -------------------------------------------------- -->
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}
