{% load static %}
{% load user_groups %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Educa Legal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'tenant/favicon.ico' %}"/>
    <style type="text/css">
        body {
            margin-bottom: 2rem;
        }

        .btn-group {
            padding-top: 1.5rem;
        }

        .btn {
            margin-left: 0.2rem;
        }

        .docassemble-line-height {
            line-height: 1.2 !important;
        }
    </style>
</head>
<body>
{% if user.is_authenticated %}
    <!-- ------------------------------------------------- Navbar -------------------------------------------------- -->
    <nav class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark docassemble-line-height">
        <div class="container danavcontainer justify-content-start">
            <span class="navbar-brand">{{ user.tenant.name }}</span>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'interview:interview-list' %}"
                                            data-toggle="tooltip" data-placement="bottom"
                                            title="Criar novos contratos e documentos.">Modelos</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'document:document-list' %}"
                                            data-toggle="tooltip" data-placement="bottom"
                                            title="Ver detalhes dos documentos que você já criou.">Documentos</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white"
                                            href="{% url 'school:school-list' %}" data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="Cadastrar ou editar dados das suas escolas. Esses dados são usados na geração dos documentos e contratos.">Escolas</a>
                    </li>
                    {% if user.tenant.plan.use_ged %}
                        <li class="nav-item"><a class="nav-link text-white" href="{{ user.tenant.tenantgeddata.url }}"
                                                target="_blank" data-toggle="tooltip" data-placement="bottom"
                                                title="Acesse os documentos armazenados.">GED</a>
                        </li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link text-white"
                                            href="https://atendimento.atlassian.net/servicedesk/customer/portal/2"
                                            data-toggle="tooltip" data-placement="bottom"
                                            title="Faça perguntas para nossos advogados e acesse a base de conhecimento."
                                            target="_blank">Portal do Cliente</a></li>
                </ul>
                <span class="navbar-text text-white">
                  Olá, {{ user.first_name }} {{ user.last_name }}!
                </span>
                <a class="btn btn-outline-success text-white ml-4" href="{% url 'account_logout' %}">Sair</a>
            </div>
        </div>
    </nav>
{% endif %}
<br/>
{% block body_block %}
{% endblock %}
{% load google_analytics_tags %}
<div style="display:none">
    <img src="{% google_analytics %}" width="0" height="0" />
</div>
<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
        integrity="sha256-Kg2zTcFO9LXOc7IwcBx1YeUBJmekycsnTsq2RuFHSZU="
        crossorigin="anonymous"></script>
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
</body>

<footer class="page-footer font-small special-color-dark pt-4">
  <div class="footer-copyright text-center py-3">©
      <script type="text/javascript">document.write( new Date().getFullYear() );</script> Copyright - Versão: 1.3.0
  </div>
</footer>
</html>