{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Educa Legal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        .btn-group {
            padding-top: 1.5rem;
        }
        .btn {
            margin-left: 0.2rem;
        }
    </style>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'index' %}">Home</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'person:company-list' %}">Escolas</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Sair</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Criar sua Conta</a></li>
            <li class="nav-item" ><a class="nav-link" href="{% url 'account_login' %}">Entrar</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
    <br/>
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>