{% extends 'base.html' %}
{% block body_block %}
  <div class="container">
    <h2>Escolas</h2>
      {% if schools %}
        <ul class="list-group">
          {% for school in schools %}
            <li class="list-group-item"><a href="{{ school.get_absolute_url }}">{{ school.name }} - {{ school.cnpj }}</a></li>
          {% endfor %}
        </ul>
    {% else %}
      <div class="alert alert-info" role="alert">
        Você não tem escolas cadastradas.
      </div>
    {% endif %}
    <div class="btn-group">
      <form action="{% url 'school:school-create' %}">
        <button type="submit" class="btn btn-success">Adicionar</button>
      </form>
    </div>
  </div>
{% endblock %}