{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block body_block %}
  <div class="container">
    <h2>Escolas</h2>
      {% if schools %}
          {% render_table table %}
      {% else %}
      <div class="alert alert-info" role="alert">
        Você não tem escolas cadastradas.
      </div>
    {% endif %}
    <div class="btn-group">
      <form action="{% url 'school:school-create' %}">
        <button type="submit" class="btn btn-success">Adicionar</button>
      </form>
    </div>
  </div>
{% endblock %}