{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
    <h2>Escola</h2>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_zip').mask('00000-000', {reverse: true});
            $('#id_cnpj').mask('00.000.000/0000-00', {reverse: true});
        });

        $("#id_legal_type").change(function () {
            var chosen_legal_type = $("#id_legal_type").val();
            console.log(chosen_legal_type);
            if (chosen_legal_type === "J") {
                $('#id_cnpj').mask('00.000.000/0000-00', {reverse: true});
            }
            if (chosen_legal_type === "F") {
                $('#id_cnpj').mask('000.000.000-00', {reverse: true});
            }

        });

        $("#id_zip").focusout(function () {
            var cep = $("#id_zip").val();
            cep = cep.replace("-", "");
            if (cep != "") {
                var urlStr = "https://viacep.com.br/ws/" + cep + "/json/";
                $.ajax({
                    url: urlStr,
                    crossDomain: true,
                    type: "get",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $("#id_street").val(data.logradouro);
                        $("#id_neighborhood").val(data.bairro);
                        $("#id_city").val(data.localidade);
                        $("#id_state").val(data.uf);
                    },
                    error: function (erro) {
                        console.log(erro);
                    }
                });
            }
        });
    </script>
{% endblock %}