{% extends 'base.html' %}
{% block body_block %}
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h5>{% if school.name %}{{ school.name }}{% endif %}</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% if school.logo %}
          <li class="list-group-item"><img class="img-rounded float-lef" src="{{ school.logo.url }}"></li>
          {% endif %}
          <li class="list-group-item">
              <span class="font-weight-bold">Razão Social: </span>{% if school.legal_name %}{{ school.legal_name }}{% endif %}</li>
          <li class="list-group-item">
              <span class="font-weight-bold">Tipo: </span>{% if school.legal_type == 'J' %} Jurídica {% else %} Física {% endif %}
          </li>
          <li class="list-group-item">
              <span class="font-weight-bold">CNPJ: </span>{% if school.cnpj %}{{ school.cnpj}}{% endif %}
          </li>
          <li class="list-group-item">
              <span class="font-weight-bold">Telefone: </span>{% if school.phone %}{{ school.phone }}{% endif %}</li>
          <li class="list-group-item">
              <span class="font-weight-bold">E-mail: </span>{% if school.email %}{{ school.email }}{% endif %}</li>
          <li class="list-group-item">
              <span class="font-weight-bold">Site: </span>{% if school.site %}{{ school.site }}{% endif %}</li>
          <li class="list-group-item">
              <span class="font-weight-bold">Endereço: </span>{% if school.street %}{{ school.address }}{% endif %}</li>
        </ul>
      </div>
    </div>
    <div class="btn-group">
        <form action="{% url 'school:school-update' pk=school.pk %}">
            <button type="submit" class="btn btn-primary" >Editar</button>
        </form>
        <form action="{% url 'school:school-delete' pk=school.pk %}">
            <button type="submit" class="btn btn-danger">Apagar</button>
        </form>
    </div>
  </div>
{% endblock %}