[keys]
LOCALHOST =
DOCTEST = t9JDYM8X48ZmCF1GRUJT63rSrzw2OuG5
PRODUCTION = D8WUkJKxxW06qDS1UB5KlwyVXeUE1Mnx

[sources]
questions = /opt/docassemble-brcomeducalegal/docassemble/brcomeducalegal/data/questions
templates = /opt/docassemble-brcomeducalegal/docassemble/brcomeducalegal/data/templates
modules = /opt/docassemble-brcomeducalegal/docassemble/brcomeducalegal/data
