<nav class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark docassemble-line-height">
    <div class="container danavcontainer justify-content-start">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.tenant.name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'billing:plan-details' user.tenant.plan.pk %}">Dados
                            do plano</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'interview:interview-list' %}"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Criar novos contratos e documentos.">Modelos</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'document:document-list' %}"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Ver detalhes dos documentos que você já criou.">Documentos</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white"
                                        href="{% url 'document:bulk-document-generation-list' %}"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Ver detalhes dos documentos que você já criou.">Geração em Lote</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white"
                                        href="{% url 'school:school-list' %}" data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Cadastrar ou editar dados das suas escolas. Esses dados são usados na geração dos documentos e contratos.">Escolas</a>
                </li>
                {% if user.tenant.plan.use_ged %}
                    <li class="nav-item"><a class="nav-link text-white" href="{{ user.tenant.tenantgeddata.url }}"
                                            target="_blank" data-toggle="tooltip" data-placement="bottom"
                                            title="Acesse os documentos armazenados.">GED</a>
                    </li>
                {% endif %}
                <li class="nav-item"><a class="nav-link text-white"
                                        href="https://atendimento.atlassian.net/servicedesk/customer/portal/2"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Faça perguntas para nossos advogados e acesse a base de conhecimento."
                                        target="_blank">Portal do Cliente</a></li>
            </ul>
            <span class="navbar-text text-white">
                  Olá, {{ user.first_name }} {{ user.last_name }}!
                </span>
            <a class="btn btn-outline-success text-white ml-4" href="{% url 'account_logout' %}">Sair</a>
        </div>
    </div>
</nav>