<div class="modal fade" id="plan_upgrade_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Faça um upgrade do seu plano!</h5>
            </div>
            <div class="modal-body">
                <p>Foi atingido o limite mensal de geração de {{ document_limit }} documentos para o plano
                    contratado.</p>
                <p>Entre em contato conosco e faça um upgrade de seu plano.</p>
            </div>
            <div class="modal-footer">
                <a href="https://www.educalegal.com.br/contato/" target="_blank" class="btn btn-primary">Entrar
                    em contato</a>
            </div>
        </div>
    </div>
</div>