{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
    <div class="container">
        <p class="text-right">
            <a href="{% url 'account_login' %}">Já redefiniu sua senha? Clique aqui entrar no sistema!</a>
        </p>
        <h2>Redefinir sua senha</h2>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Redefinir Senha</button>
        </form>
    </div>
{% endblock %}