{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
  <div class="container">
      <h2>Alterar sua senha</h2>
      <p>Esqueceu sua senha? Digite seu e-mail abaixo e nós lhe enviaremos um e-mail que lhe permitirá redefiní-la.</p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Redefinir minha senha.</button>
        </form>
  <p>Entre em contato conosco se tiver qualquer problema para redefinir sua senha.</p>
  </div>
{% endblock %}