{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body_block %}
    <div class="container">
    <img class="mx-auto d-block"  src="{% static 'tenant/educa-legal-logo-horizontal.png' %}" alt="Educa Legal Logo">
        <p class="text-right">
            <a href="{% url 'account_login' %}">Já redefiniu sua senha? Clique aqui entrar no sistema!</a>
        </p>
        <h2>Redefinição de Senha</h2>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>Nós lhe enviamos um e-mail. Por favor entre em contato se não o receber dentro de alguns instantes.</p>
    </div>
{% endblock %}