{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
    <div class="container">
        <p class="text-right">
            <a href="{% url 'account_login' %}">Já possui conta? Clique aqui entrar no sistema!</a>
        </p>
        <h2>Crie sua conta</h2>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Criar</button>
        </form>
        <p class="text-right">
            <a href="http://www.educalegal.com.br/politica-de-privacidade/" target="_blank">Política de Privacidade</a>
        </p>
    </div>
{% endblock %}